<mat-toolbar color="primary" class="expanded-toolbar">
  <button mat-button routerLink="/">Planetarium</button>

  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <button mat-button routerLink="/"><mat-icon>home</mat-icon></button>
    <button mat-button routerLink="/planets">Planets</button>
  </div>
  <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">
  <button mat-menu-item routerLink="/"><mat-icon>home</mat-icon> Home</button>
  <button mat-menu-item routerLink="/planets">Planets</button>;  
</mat-menu>

<div class="table-container">

  <button mat-raised-button color="primary" (click)="addPlanet()">Add Planet</button>

  <mat-form-field>
    <mat-label>Search</mat-label>
    <input matInput (keyup)="filter($event)" placeholder="Earth, Mars...">
  </mat-form-field>

  <table mat-table [dataSource]="dataSource">
    
    <ng-container matColumnDef="_id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let planet"> {{planet._id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let planet"> {{planet.name}} </td>
    </ng-container>

    <ng-container matColumnDef="distance">
      <th mat-header-cell *matHeaderCellDef> Distance to Sun </th>
      <td mat-cell *matCellDef="let planet"> {{planet.distance}} </td>
    </ng-container>

    <ng-container matColumnDef="gravity">
      <th mat-header-cell *matHeaderCellDef> Gravity </th>
      <td mat-cell *matCellDef="let planet"> {{planet.gravity}} </td>
    </ng-container>

    <ng-container matColumnDef="satellites">
      <th mat-header-cell *matHeaderCellDef> Number Of Satellites </th>
      <td mat-cell *matCellDef="let planet"> {{planet.satellites}} </td>
    </ng-container>

    <ng-container matColumnDef="imageUrl">
      <th mat-header-cell *matHeaderCellDef> Image </th>
      <td mat-cell *matCellDef="let planet"> <img [src]="planet.imageUrl"/> </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let planet" class="action-link">
        <mat-icon aria-hidden="false" aria-label="Edit" (click)="editPlanet(planet)">edit</mat-icon>
        <mat-icon aria-hidden="false" aria-label="Delete" (click)="removePlanet(planet)">delete</mat-icon>        
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<router-outlet></router-outlet>